Repository cmput301-w25/project-seekdeep, pull requests merged in 2025-03, with the labels that each got.

#340 Completed User Story 06.01.01 and 06.02.01
  code/app/build.gradle.kts
  code/app/src/androidTest/java/com/example/project_seekdeep/MapsFragmentUITest.java
  code/app/src/main/AndroidManifest.xml
  code/app/src/main/java/com/example/project_seekdeep/CreateMoodEventFragment.java
  code/app/src/main/java/com/example/project_seekdeep/DeleteMoodFragment.java
  code/app/src/main/java/com/example/project_seekdeep/EditMoodFragment.java
  code/app/src/main/java/com/example/project_seekdeep/EmotionalStates.java
  code/app/src/main/java/com/example/project_seekdeep/LogInFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MainActivity.java
  code/app/src/main/java/com/example/project_seekdeep/MapsFragment.java
  code/app/src/main/java/com/example/project_seekdeep/Mood.java
  code/app/src/main/java/com/example/project_seekdeep/MoodHistoryFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MoodProvider.java
  code/app/src/main/java/com/example/project_seekdeep/SignUpFragment.java
  code/app/src/main/java/com/example/project_seekdeep/UserLocation.java
  code/app/src/main/java/com/example/project_seekdeep/UserProfile.java
  code/app/src/main/res/drawable/btn_normal.xml
  code/app/src/main/res/drawable/btn_pressed.xml
  code/app/src/main/res/drawable/btn_selected.xml
  code/app/src/main/res/drawable/ic_5km_radius.xml
  code/app/src/main/res/drawable/ic_location_pin.xml
  code/app/src/main/res/drawable/ic_mood_following.xml
  code/app/src/main/res/drawable/ic_mood_history.xml
  code/app/src/main/res/drawable/selector_5km_radius.xml
  code/app/src/main/res/drawable/selector_mood_following.xml
  code/app/src/main/res/drawable/selector_mood_history.xml
  code/app/src/main/res/layout/fragment_maps.xml
  code/app/src/main/res/values/strings.xml
  code/app/src/test/java/com/example/project_seekdeep/MapsFragmentTest.java
  code/app/src/test/java/com/example/project_seekdeep/MoodProviderTest.java
  code/app/src/test/java/com/example/project_seekdeep/OfflineSyncTest.java
  code/build.gradle.kts
  code/gradle/libs.versions.toml
Labels: geolocation & maps

#347 Done US 05.03.01, 05.04.01, 05.05.01, 05.06.01 - Filter Following list
  code/app/src/androidTest/java/com/example/project_seekdeep/MoodHistoryFragmentUITest.java
  code/app/src/androidTest/java/com/example/project_seekdeep/OtherUsersProfileFragmentTest.java
  code/app/src/main/java/com/example/project_seekdeep/FilterMenuDialogFragment.java
  code/app/src/main/java/com/example/project_seekdeep/FollowingFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MoodFiltering.java
  code/app/src/main/java/com/example/project_seekdeep/MoodHistoryFragment.java
  code/app/src/main/java/com/example/project_seekdeep/OtherUsersProfileFragment.java
  code/app/src/main/res/layout/layout_feed_mood_edit_delete_combo.xml
  code/app/src/main/res/layout/layout_following.xml
  code/app/src/main/res/layout/other_users_profile_page.xml
  code/app/src/main/res/layout/profile_feed.xml
  code/app/src/main/res/values/colors.xml
  code/app/src/test/java/com/example/project_seekdeep/MoodFilteringTest.java
Labels: following & sharing

#351 Finished tests and mood filtering - 13 us 050301
  code/app/src/androidTest/java/com/example/project_seekdeep/FollowingFragmentUITest.java
  code/app/src/androidTest/java/com/example/project_seekdeep/MoodHistoryFragmentUITest.java
  code/app/src/main/java/com/example/project_seekdeep/FilterMenuDialogFragment.java
  code/app/src/main/java/com/example/project_seekdeep/FollowingFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MapsFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MoodFiltering.java
  code/app/src/main/java/com/example/project_seekdeep/MoodHistoryFragment.java
  code/app/src/main/res/layout/filter_menu.xml
  code/app/src/test/java/com/example/project_seekdeep/MoodFilteringTest.java
Labels: following & sharing

#350 Finish 321-us-010701: Private and Public Moods
  code/app/src/androidTest/java/com/example/project_seekdeep/PrivacyUITest.java
  code/app/src/main/java/com/example/project_seekdeep/CreateMoodEventFragment.java
  code/app/src/main/java/com/example/project_seekdeep/EditMoodFragment.java
  code/app/src/main/java/com/example/project_seekdeep/FeedFragment.java
  code/app/src/main/java/com/example/project_seekdeep/FollowingFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MainActivity.java
  code/app/src/main/java/com/example/project_seekdeep/Mood.java
  code/app/src/main/java/com/example/project_seekdeep/MoodHistoryFragment.java
  code/app/src/main/java/com/example/project_seekdeep/OtherUsersProfileFragment.java
  code/app/src/main/java/com/example/project_seekdeep/UserProfile.java
  code/app/src/main/res/layout/profile_feed.xml
Labels: moods

#353 Fix comments for OtherUsersProfileFragment
  code/app/src/main/java/com/example/project_seekdeep/OtherUsersProfileFragment.java
Labels: bug, moods, profile

#352 Finished 334-us-030201 : Search for users
  code/app/src/androidTest/java/com/example/project_seekdeep/FeedFragmentUITest.java
  code/app/src/main/java/com/example/project_seekdeep/FeedFragment.java
  code/app/src/main/java/com/example/project_seekdeep/MoodFiltering.java
  code/app/src/main/java/com/example/project_seekdeep/UserArrayAdapter.java
  code/app/src/main/res/layout/layout_feed.xml
  code/app/src/main/res/layout/layout_feed_mood.xml
  code/app/src/main/res/layout/layout_feed_mood_edit_delete_combo.xml
  code/app/src/main/res/layout/layout_following.xml
  code/app/src/main/res/layout/other_users_profile_page.xml
  code/app/src/main/res/layout/profile_feed.xml
  code/app/src/main/res/layout/search_for_user_content.xml
Labels: profile

#359 Completed US 06.03.01 and 06.04.01
  code/app/src/androidTest/java/com/example/project_seekdeep/MapsFragmentUITest.java
  code/app/src/main/java/com/example/project_seekdeep/EmotionalStates.java
  code/app/src/main/java/com/example/project_seekdeep/FollowRequest.java
  code/app/src/main/java/com/example/project_seekdeep/MapsFragment.java
  code/app/src/main/java/com/example/project_seekdeep/UserProfile.java
  code/app/src/main/res/layout/custom_info_window.xml
  code/app/src/main/res/layout/fragment_maps.xml
Labels: geolocation & maps

#363 Update 7-us-050101 Fix bugs in OtherUsersProfileFragment
  code/app/src/androidTest/java/com/example/project_seekdeep/OtherUsersProfileFragmentTest.java
  code/app/src/main/java/com/example/project_seekdeep/Followings/OtherUsersProfileFragment.java
  code/app/src/main/java/com/example/project_seekdeep/Helpers/UserProvider.java
  code/app/src/main/java/com/example/project_seekdeep/MainActivity.java
  code/app/src/main/java/com/example/project_seekdeep/Navigation/CreateMoodEventFragment.java
  code/app/src/main/res/layout/frag_create_mood_event.xml
  code/app/src/main/res/layout/profile_feed.xml
Labels: bug
